<div class="container">
    <div class="jumbotron">
        <h2 class="display-6">Map</h2>
        <hr class="my-4">
        <h1 class="text-center text-primary">{{result}}</h1>
        <hr class="my-4">
        <code>result = result + (value * ratio)</code>
    </div>
    <div class="col-sm-12">
        倍率
        <input type="radio" name="ratio" [value]="1" [(ngModel)]="ratio" [ngModelOptions]="{standalone: true}"> x1
        <input type="radio" name="ratio" [value]="2" [(ngModel)]="ratio" [ngModelOptions]="{standalone: true}"> x2
        <input type="radio" name="ratio" [value]="3" [(ngModel)]="ratio" [ngModelOptions]="{standalone: true}"> x3
        <input type="radio" name="ratio" [value]="4" [(ngModel)]="ratio" [ngModelOptions]="{standalone: true}"> x4
        <input type="radio" name="ratio" [value]="5" [(ngModel)]="ratio" [ngModelOptions]="{standalone: true}"> x5
    </div>
    <hr class="my-4">
    <h3>ログ</h3>
    <div class="col-sm-12 my-10 scroll">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of log">名前：{{item.name}}　数値：{{item.value}} 倍率：x{{item.ratio}} 時間：{{item.time}}</li>
        </ul>
    </div>
</div>

<app-footer>
    <form class="form-inline">
        <input type="text" name="name" value="" class="form-control" placeholder="名前" [(ngModel)]="form.name">
        <input type="number" name="value" value="" class="form-control" placeholder="数字" [(ngModel)]="form.value">
        <button type="button" class="btn btn-success" (click)="submit()">送信!</button>
    </form>
</app-footer>
