<h2>Listing Stages</h2>

<table class="table">
  <thead>
    <tr>
      <th>Url</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for stage <- @stages do %>
    <tr>
      <td><%= stage.url %></td>

      <td class="text-right">
        <span><%= link "Show", to: stage_path(@conn, :show, stage), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: stage_path(@conn, :edit, stage), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: stage_path(@conn, :delete, stage), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Stage", to: stage_path(@conn, :new) %></span>
