<h2>Show Stage</h2>

<ul>

  <li>
    <strong>Url:</strong>
    <%= @stage.url %>
  </li>

</ul>

<span><%= link "Edit", to: stage_path(@conn, :edit, @stage) %></span>
<span><%= link "Back", to: stage_path(@conn, :index) %></span>
