<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/">

    <title>Hello Rxjs!</title>
</head>

<body>
    <main role="main">
        <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="assets/inline.bundle.js"></script>
    <script type="text/javascript" src="assets/polyfills.bundle.js"></script>
    <link rel="stylesheet" href="assets/styles.bundle.css">
    <script type="text/javascript" src="assets/vendor.bundle.js"></script>
    <script type="text/javascript" src="assets/main.bundle.js"></script>
</body>

</html>
