<div class="container">
    <div class="jumbotron">
        <h2 class="display-6">組み合わせ</h2>
        <hr class="my-4">
        <h1 class="text-center text-primary">{{result}}</h1>
        <hr class="my-4">
        <code>result = result + value</code>
    </div>
    <div class="col-sm-12">
        フィルター
        <div class="">
          <label class="btn btn-primary" [(ngModel)]="model.isOdd" btnCheckbox (click)="change()">奇数</label>
          <label class="btn btn-primary" [(ngModel)]="model.isEven" btnCheckbox (click)="change()">偶数</label>
          <label class="btn btn-primary" [(ngModel)]="model.isNatural" btnCheckbox (click)="change()">自然数</label>
        </div>
        <input type="number" name="skip" [(ngModel)]="model.skip" (change)="change()" [ngModelOptions]="{standalone: true}" min="0">回から計算
        <input type="number" name="take" [(ngModel)]="model.take" (change)="change()" [ngModelOptions]="{standalone: true}" min="1">回まで計算
        <input type="number" name="delay" [(ngModel)]="model.delay" (change)="change()" [ngModelOptions]="{standalone: true}" min="1">ミリ秒計算まで遅延
    </div>
    <hr class="my-4">
    <h3>ログ <button class="btn btn-sm btn-danger" (click)="reset()">ログリセット</button></h3>
    <div class="col-sm-12 my-10 scroll">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of log">名前：{{item.name}}　数値：{{item.value}} 時間：{{item.time}}</li>
        </ul>
    </div>
</div>

<app-footer>
    <form class="form-inline">
        <input type="text" name="name" value="" class="form-control" placeholder="名前" [(ngModel)]="form.name">
        <input type="number" name="value" value="" class="form-control" placeholder="数字" [(ngModel)]="form.value">
        <button type="button" class="btn btn-success" (click)="submit()">送信!</button>
    </form>
</app-footer>
