<div class="all">
    <h1>ご静聴ありがとうございました。</h1>
    <div class="text-center">
        <img src="/assets/assets/QR.jpg" alt="">
        <br>
        <h2><a href="https://bitbucket.org/naoya_yamamoto/rxjs">https://bitbucket.org/naoya_yamamoto/rxjs</a></h2>
    </div>
</div>
