<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>TOP ページ</h1>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-success" (click)="top()">Go!</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Map</h1>
        </div>
        <div class="col-sm-2">
            <p>移動</p>
            <button type="button" class="btn btn-primary" (click)="map()">Go!</button>
        </div>
        <div class="col-sm-2">
            <p>Reset</p>
            <button type="button" class="btn btn-primary" (click)="map_reset()">Reset</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Filter</h1>
        </div>
        <div class="col-sm-2">
            <p>移動</p>
            <button type="button" class="btn btn-primary" (click)="filter()">Go!</button>
        </div>
        <div class="col-sm-2">
            <p>Reset</p>
            <button type="button" class="btn btn-primary" (click)="filter_reset()">Reset</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>ALL</h1>
        </div>
        <div class="col-sm-2">
            <p>移動</p>
            <button type="button" class="btn btn-primary" (click)="all()">Go!</button>
        </div>
        <div class="col-sm-2">
            <p>Reset</p>
            <button type="button" class="btn btn-primary" (click)="all_reset()">Reset</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Frame</h1>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-warning" (click)="frame('filter')">Filter</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-warning" (click)="frame('map')">Map</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-warning" (click)="frame('delay')">Delay</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-warning" (click)="frame('amb')">Amb</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-warning" (click)="frame('concat')">Concat</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>END</h1>
        </div>
        <div class="col-sm-2">
            <p>移動</p>
            <button type="button" class="btn btn-warning" (click)="end()">Go!</button>
        </div>
    </div>
</div>
