<div class="container">
    <div class="jumbotron">
        <h2 class="display-6">Filter</h2>
        <hr class="my-4">
        <h1 class="text-center text-primary">{{result}}</h1>
        <hr class="my-4">
        <code>result = result + (value % 2 === filter ? value : 0)</code>
    </div>
    <div class="col-sm-12">
        フィルター
        <input type="radio" name="ratio" [value]="1" [(ngModel)]="ratio" [ngModelOptions]="{standalone: true}"> 奇数
        <input type="radio" name="ratio" [value]="0" [(ngModel)]="ratio" [ngModelOptions]="{standalone: true}"> 偶数
    </div>
    <hr class="my-4">
    <h3>ログ</h3>
    <div class="col-sm-12 my-10 scroll">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of log">名前：{{item.name}}　数値：{{item.value}} フィルター：{{item.ratio ? '奇数' : '偶数'}} 時間：{{item.time}}</li>
        </ul>
    </div>
</div>

<app-footer>
    <form class="form-inline">
        <input type="text" name="name" value="" class="form-control" placeholder="名前" [(ngModel)]="form.name">
        <input type="number" name="value" value="" class="form-control" placeholder="数字" [(ngModel)]="form.value">
        <button type="button" class="btn btn-success" (click)="submit()">送信!</button>
    </form>
</app-footer>
